*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.releve{
    align-items: center;
    justify-content: center;
   border: 1px solid black;
}

.entete{
   /* width: 1150px;*/
    display: flex;
    grid-template-columns: repeat(3,1fr);
    column-gap: 200px;
    margin: 20px;
    padding: 15px;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
}
h2,h3,h4,p{
margin:0;
}
.boite{
   flex: 1;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}
.boitelogo{
    display: block;
    align-items: center;
}
.boitelogo img{
    border-radius:46%;
    display: block;
    margin: 0 auto;
    border:none;
}
.box{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.conteneur1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin: 0 20px;
    column-gap: 360px;
}
.le_tableau{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.le_tableau th, .le_tableau td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-size: 12px;

}
.le_tableau th, .gras{
    background-color: #f2f2f2;
    text-align: center;
}