*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.entete{
    width: 1150px;
    display: flex;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
    margin: 20px;
    padding: 15px;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid black;
}
h2,h3,h4,p{
margin:0;
}
.boite{
   flex: 1;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
}
.boitelogo{
    display: block;
    align-items: center;
}
.boitelogo img{

    border-radius: 8px;
    display: block;
    margin: 0 auto;
    border:none;
}