body{
    background-color: white;
    display: flex;

}
.premier{
    display: flex;
   justify-content: space-around; 
}
.carte1{
    height: 100px;
    width: 100;
    padding: 10px;
    justify-content: center;
    margin: 0px 50px 0px 0px;

}